# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
generate-car
go-generate-car

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/
*.car
.bundle/

dist/
